<nav class="sidebar float-left" id="sidebar">
    <ul>
        <li class="nav-item active"> <a class="nav-link" href=""><i class="fa fa-home" aria-hidden="true"></i>
            Home </a></li>
        <li class="nav-item"> <a class="nav-link" href=""><i class="fa fa-money" aria-hidden="true"></i>
            Products </a></li>
        <li class="nav-item"> <a class="nav-link" href=""><i class="fa fa-arrows-v" aria-hidden="true"></i>
            Analytics </a></li>
        <li class="nav-item"> <a class="nav-link" href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Profile </a>
        </li>
    </ul>
</nav>