@import "../../assets/stylesheets/variable.scss";
.form-panel{
    margin-top: 30px;
    span{
        font-size: 16px;
        font-family: $font-family-brand;
        font-weight:  $font-semibold;
        line-height: 2;
    }
}
.align {
    text-align: center;
    margin-top: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #C6C6C6 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.container{
    opacity: 0; 
    text-align: center; 
    animation: fadein 1s; 
    animation-delay:0.5s; 
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}
@keyframes fadein { 
    from { opacity: 0; } /*Update because you asked for this numbers BUT i propose from 0 otherwise you are instantly seeing the div. */
    to { opacity: 1;} 
}

#particles-js {
    height: 100%;
}

.add-label{
    font-size: 16px;
}

.error-feedack {
    color: #C6C6C6;
    font-size: 11px;
}