<div class="partical-bg-wrap"><Particles id="particles" [options]="particalParams"></Particles></div>
<div class="container">
    <div class="align mt-9">
        <a class="navbar-brand" href="/"><img class="img-fluid" alt="JUPITA" width="108" height="60"
                src="./../../../assets/images/Jupita.png"></a>
    </div>
    <div class="row justify-content-center form-panel">
        <div class="col-md-4">
            <span>Lorem ipsum dolor sit amet, consectetur </span>
            <small class="d-block">
                Don't have an account? Sign up
                <strong><a href="/sign-up" class="link-text">here</a></strong>
            </small>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal mt-5 pr-3" method="post" action="#">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="email" class="control-label">Email</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input formControlName="email" type="text" class="form-control" name="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required.</div>
                                <div *ngIf="f.email.errors.email">Please enter a valid email address.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 clearfix">
                        <label for="password" class="control-label float-left">Password</label>
                        <a class="float-right link-text" href="/forgot-password">Forgot password?</a>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input formControlName="password" type="password" class="form-control" name="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Email is required.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <div class="col-sm-12">
                        <button class="btn btn-light btn-lg btn-block login-button mt-2">Continue</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>