<div class="partical-bg-wrap"><app-partical-background></app-partical-background></div>
<div class="container">
    <div class="align">
        <a class="navbar-brand" href="/"><img class="img-fluid" alt="JUPITA" width="108" height="60"
                src="./../../../assets/images/Jupita.png"></a>
    </div>
    <div class="row justify-content-center form-panel">
        <div class="col-md-4">
            <span>Lorem ipsum dolor sit amet, consectetur </span>
            <small class="d-block">
                Don't have an account? Sign up
                <strong><a href="/sign-up" class="link-text">here</a></strong>
            </small>
            <form class="form-horizontal mt-5 pr-3" method="post" action="#">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="email" class="control-label">Email</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 clearfix">
                        <label for="password" class="control-label float-left">Password</label>
                        <a class="float-right link-text" href="/forgot-password">Forgot password?</a>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-light btn-lg btn-block login-button mt-2">Continue</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>