@import "../../assets/stylesheets/variable.scss";
.header{
    .navbar{
        background-color:transparent !important;
        font-family: $font-family-brand;

        .navbar-brand{
            color:$primary-color;
        }
        .navbar-toggler-icon{
            color:$primary-color;
            fill:currentColor;
            background:transparent;
        }
        ul{
            li{
                margin-right: 35px;
                font-size: 17px;
                margin-left: 15px;
                line-height: 1.8;
                letter-spacing: 1px;
                font-family: $font-family-brand;
                a{
                    color:$primary-color;
                    padding-right:0;
                }
                &:last-child{
                    font-family: $font-family-brand;
                    font-weight:  $font-semibold;
                    margin-right:0;
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    .header {
        .navbar{
            padding-left: 15px !important;
        }
    }
}
@media screen and (max-width : $phone){
    .d-xs-none{
        display: none !important;
    }
}