@import "../../assets/stylesheets/variable.scss";
.main-container{
    font-family: $font-family-poppins;
  }
.panel-first{
    margin-top:10rem;
    h1{
        font-size: 3.7rem;
        line-height: 1.4;
        font-family: $font-family-poppins;
    }
    h3{
        font-size: 2rem;
        font-family: $font-family-poppins;
    }
}
.sidebar-navigation{
    background-color: $primary-color;
    margin-top: 5.5rem;
    ul{
        width:100%;
        li{
            position: relative;
            font-size: 18px;
            font-family: $font-family-poppins;
            a{
                color: $primary-font-color;
                font-family: $font-family-poppins;
            }
            svg{
                position: absolute;
                top:10px;
                right:10px;
                fill: currentColor;
                color: $primary-font-color;
            }
        }
    }
}
.subscribe-section{
    h3{
      font-size: 2.2rem;
      line-height: 1.4;
      font-family: $font-family-poppins;
    }
  }
  @media screen and (max-width :$phone){
      .panel-first{
          margin-bottom: 35px !important;
          h1{
              font-size: 2.6rem;
          }
          .doc-block{
              padding-right:0 !important;
              width:100%;
          }
          .doc-content{
              padding-left: 0 !important;
              text-align: center;
              float: none!important;
    padding-left: 15px !important;
          }

      }
      .subscribe-section{
        .primary-button{
            margin: auto;
          }
      }
            
  }