<div class="partical-bg-wrap">
    <div id="particles-js">
    </div>
</div>
<div class="container">
    <div class="align mt-9">
        <a class="navbar-brand" href="/"><img class="img-fluid" alt="JUPITA" width="108" height="60"
                src="./../../../assets/images/Jupita.png"></a>
    </div>
    <div class="row justify-content-center form-panel">
        <div class="col-md-4">
            <label class="add-label">Lorem ipsum dolor sit amet, consectetur </label>
            <small class="d-block">
                Already a user? Sign in
                <strong><a href="/sign-in" class="link-text">here</a></strong>
            </small>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal mt-5 pr-3" method="post" action="#">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="email" class="control-label">Email</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input formControlName="email" type="text" class="form-control" name="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required.</div>
                                <div *ngIf="f.email.errors.email">Please enter a valid email address.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="username" class="control-label">Full name</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input formControlName="username" type="text" class="form-control" name="username" id="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Full name is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  formGroupName="passwordGroup">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="password" class="control-label">Password</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input formControlName="password" type="password" class="form-control" name="password" id="password" [ngClass]="{ 'is-invalid': submitted && pg.controls.password.errors }">
                                <div *ngIf="submitted && pg.controls.password.errors" class="invalid-feedback">
                                    <div *ngIf="pg.controls.password.errors.required">Password is required.</div>
                                    <div *ngIf="pg.controls.password.errors.pattern">Your password must contain both uppercase and lowercase letters, a number, a symbol, and min of 8 characters.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="confirm" class="control-label">Confirm password</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input formControlName="confirmPassword" type="password" class="form-control" name="confirm" id="confirm" [ngClass]="{ 'is-invalid': submitted && pg.errors }">
                                <div *ngIf="submitted" class="invalid-feedback">
                                    <div *ngIf="pg.errors">Password do not match.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <div class="col-sm-12">
                        <button class="btn btn-light btn-lg btn-block login-button">Create
                            account</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>