@import "../../assets/stylesheets/variable.scss";
.main-container{
    font-family: $font-family-poppins;
}
.banner-section{
    h1{
        font-size: 3.5rem;
        font-family: $font-family-poppins;
    }
    h4{
        font-size:2rem;
        font-family: $font-family-poppins;
    }
}
.panel-first{
    .article-box{
        .panel-header{
            h3{
                font-size: 2rem;
                font-family: $font-family-poppins;
            }

        }

    }
    
}
.panel-second{
    .panel-header{
        h3{
            font-size: 2rem;
            margin-top: 40px;
            font-family: $font-family-poppins;
        }
    }
}
.conversation-details{
    .column{
        font-family: $font-family-poppins;
        .input-group{
textarea{
    height:176px;
}
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 12px;
                border-style: solid;
                border-color: #c6c6c6 transparent transparent transparent;
            }
            
        }
        .btn-pos{
            position: absolute;
            right:3rem;
            bottom:-40px;
            &.link-text{
                font-family: $font-family-brand;
                font-size: 1.1rem;
            }
            &:hover{
                text-decoration: none;
            }
        }
        &:nth-child(even){
            .btn-pos{
                position: absolute;
                left:3rem;
                bottom:-40px;
            }
    }
        }
     
}
.conversation-tab{
    display: flex;
    justify-content: center;
    width:100%;
    padding-top:102px;
    font-family: $font-family-poppins;
    a{
        float: left;
        min-width:100px;
        padding:10px 30px;
        font-size: 18px;
        color:$link-text-primary;
        text-align: center;
        border: 2px solid $primary-color;
        &:nth-child(odd){
            border-right-width:1px;
        }
        &:nth-child(even){
            border-left-width: 1px;
        }
        &:hover{
            text-decoration: none;
            color:$primary-font-color;
            background-color: $primary-color;
        }
    }
}
.rating-section{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    li{
        font-size: 25px;
        line-height: 2;
        font-family: $font-family-poppins;
        svg{
            margin-right: 5px;
            vertical-align: middle;
            &.bi-emoji-laughing{
                fill: currentColor;
                color: yellow;
            }
            &.bi-star-fill{
                fill: currentColor;
                color: yellow;
            }
           
        }
    }
}
.panel-third,.panel-fourth,.panel-fifth{
    .panel-header{
        h3{
            font-size: 2rem;
            line-height: 1.5;
            font-family: $font-family-poppins;
        }
    }
}
.panel-fourth{
    .panel-header{
        padding-bottom: 8px;
        h3{
            line-height: 1.4;        
}
    }
}
.subscribe-section{
    h3{
      font-size: 2.2rem;
      line-height: 1.4;
      font-family: $font-family-poppins;
    }
  }
@media screen and (max-width:$phone){
    .banner-section {
        padding-top:0 !important;
        padding-left: 0 !important;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h4{
            width:100% !important;
            text-align: center;
            font-size: 1.6rem;
        }
        .primary-button{
            margin:auto;
        }
    }
.panel-first, .panel-second, .panel-third, .panel-fourth, .panel-fifth{
    margin-top:35px !important;
    margin-bottom: 35px !important;
}
.panel-first, .panel-third{

    .article-box{
        .article-col{
            padding-right:0px !important;
            padding-left:0px !important;
            margin-bottom: 20px;
        }
    }
}

.conversation-details{
    .column{
        padding-left:0 !important;
        padding-right:0 !important;
        width: 100%;
        margin-bottom: 70px;
        .input-group{
            padding-left:0 !important;
        padding-right:0 !important;
        }
    }
}
.rating-section{
    flex-grow: 0;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    li{
        padding-right: 10px !important;
        flex:1 1 0;
        align-self: center;
    }
}
.panel-fourth{
    .article-section{
        padding:0 10px;
        .ar-col{
            padding-right:0px !important;
            padding-left:0px !important;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}
.subscribe-section{
    .primary-button{
        margin: auto;
    }
}
}

.main-bottom{
    margin-top: 20%;
    @media screen and (min-width: 360px) and (max-width: 370px){
        margin-top: 109%;
    }
    @media screen and (min-width: 371px) and (max-width: 376px){
        margin-top: 85%;
    }
    @media screen and (min-width: 400px) and (max-width: 416px){
        margin-top: 67%;
    }
    @media screen and (min-width: 765px) and (max-width: 770px){
        margin-top: 60%;
    }
    @media screen and (min-height: 810px) and (max-height: 812px){
        margin-top: 115%;
    }
}
.waves-wrapper {
    position: relative;
}

.wave-section .particle-js {
    margin-bottom: -5% !important;
    @media screen and (max-width:3000px){
        margin-bottom: -18% !important;
    }
}

#waves-js {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -20% !important;
    left: 0;
    display: inline-block;
    @media screen and (max-width: 375px){
        bottom: -65% !important;
    }
    @media screen and (min-width: 1600px) and (max-width:2000px){
        bottom: 30% !important;
    }
    @media screen and (min-width: 2000px) and (max-width:2500px){
        bottom: 15% !important;
    }
    @media screen and (min-width: 2501px) and (max-width:3000px){
        bottom: 115% !important;
    }
}