<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-header mt-9 pt-4 d-flex justify-content-center">
                <h2>Terms & Policies</h2>
            </div>
                <nav class="page-navigation">
                      <ul class="d-flex justify-content-center align-items-center list-unstyled">
                        <li class="nav-item">
                          <label (click)="termsConditions('terms')" class="nav-link" [ngClass]="(urlPath == 'terms') ? 'active' : ''">Terms</label>
                        </li>
                        <li class="nav-item">
                          <label (click)="termsConditions('privacy')" class="nav-link" [ngClass]="(urlPath == 'privacy') ? 'active' : ''">Privacy</label>
                        </li>
                        <li class="nav-item">
                          <label (click)="termsConditions('gdpr')" class="nav-link" [ngClass]="(urlPath == 'gdpr') ? 'active' : ''">GDPR</label>
                        </li>
                        <li class="nav-item">
                          <label (click)="termsConditions('ccpa')" class="nav-link" [ngClass]="(urlPath == 'ccpa') ? 'active' : ''">CCPA</label>
                        </li>
                      </ul>
                  </nav>
                  <div *ngIf="urlPath == 'terms'" class="content-area col-md-12 col-lg-6 ml-auto mr-auto mt-6 mb-9">
                      <p>Terms Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p>Terms Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div *ngIf="urlPath == 'privacy'" class="content-area col-md-12 col-lg-6 ml-auto mr-auto mt-6 mb-9">
                      <p>Privacy Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p>Privacy Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div *ngIf="urlPath == 'gdpr'" class="content-area col-md-12 col-lg-6 ml-auto mr-auto mt-6 mb-9">
                      <p>GDPR ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p>GDPR Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div *ngIf="urlPath == 'ccpa'" class="content-area col-md-12 col-lg-6 ml-auto mr-auto mt-6 mb-9">
                      <p>CCPA Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p>CCPA Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="panel-second mb-6 mt-5">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-center subscribe-section">
                        <h3 class="col-md-7 col-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
                        <div class="col-md-3 col-lg-2">
                          <button type="button" class="btn btn-light btn-md btn-block primary-button w-200 h-56 rounded-pill" routerLink="/sign-up">Sign up</button>
                        </div>
                        </div>
                    </div>
            
                    </div>
        </div>
    </div>
</div>
