/* You can add global styles to this file, and also import other style files */
@import "./assets/stylesheets/variable.scss";
@import "./assets/stylesheets/mediaquery.scss";
@import "./assets/stylesheets/helpers.scss";
@import "./assets/stylesheets/common.scss";

// Font face
@font-face {

    font-family: $font-family-brand;
    src: local('Montserrat-Regular'),url($montserrat-regularwoff2-font-path) format('woff2'),
    url($montserrat-regularwoff-font-path) format('woff'), url($montserrat-regularttf-font-path) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;  
}
  html{
    font-family:$font-family-brand !important;
  }
body{
    font-family:$font-family-brand !important;
    background-color:#181818;
    font-size: 14px;
    color:$primary-color;
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    display: inline-block;
}
  p{
      font-size:18px;
  }
// Form control
.form-panel{
    .form-group{
        margin-bottom: 37px;
        label{
            &.control-label{
                font-size: 11px;
                font-family: $font-family-brand;
                font-weight:  $font-semibold;
            } 
        }
        a.link-text{
            font-size: 12px;
        }
        .form-control{
            border-radius: 0 !important;
            border:none;
            background-color: $primary-color;
            color:$primary-font-color;
        }
        .btn{
            background-color: $primary-color !important;
            height: calc(1.5em + 0.75rem + 2px);
            border-radius: 0;
            border:none;
            line-height: 1;
            font-size: 16px;
            font-family: $font-family-brand;
            font-weight:  $font-semibold;        }
    }
}
.input-group{
     textarea.form-control{
        border-radius: 0 !important;
        border:none;
        background-color: $primary-color;
        color:$primary-font-color;
    }
}
// helper classes
.link-text{
    color:$link-text-primary;
    font-family: $font-family-brand;
    font-weight:  $font-semibold;    cursor: pointer;
    &:hover, &:active, &:focus{
        color:$link-text-primary;
    }
}
.font-regular{
    font-family: $font-family-brand;
}
.font-semi-bold{
    font-family: $font-family-brand;
    font-weight:  $font-semibold;
}
//alert section
.alert-section{
    background-color:$primary-color;
    border-color: $primary-color;
    border-radius:0;
    box-shadow: 0 -5px 20px 0 rgba(198,198,198,.5);
    -webkit-box-shadow: 0 -5px 20px 0 rgba(198,198,198,.5);
    padding-right:20px;
    margin-bottom: 0;
    p{
        font-size: 12px;
        margin-bottom: 0;
    }
}