<div class="main-content">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Get started with Jupita, ashutosh
            </h2>
        </div>

        <div class="accordion-started accordion-bral row ">
            <div class="user-accordion">
                <div class=" acc-row">
                    <!-- accordion item 1 -- start -->
                    <input class="ac-input" id="ac-1" name="accordion-1" type="radio" checked />
                    <label class="ac-label" for="ac-1"><i></i>Build your payments integration <span
                            class="fa fa-times right-closebtn" aria-hidden="true"></span>
                    </label>
                    <div class="article ac-content">
                        <p>
                            Browse our developer docs to integrate Jupita into your website or app, or
                            choose
                            <a class="link-text">pre-built integrations</a> from our partners.
                        </p>
                        <div class="btn-box d-flex">
                            <button type="button" class="btn btn-primary">Primary<span class="fa fa-arrow-right ml-2"
                                    aria-hidden="true"></span>
                            </button>


                        </div>

                    </div>
                </div>
                <!-- accordion item 1 -- end -->

                <div class="acc-row">
                    <!-- accordion item 2 -- start -->
                    <input class="ac-input" id="ac-2" name="accordion-1" type="radio" />
                    <label class="ac-label" for="ac-2">Get your test API keys<i></i>
                        <span class="fa fa-times right-closebtn" aria-hidden="true"></span>
                    </label>
                    <div class="article ac-content">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left"><strong>Publishable key </strong></div>
                            <div class="col-md-9 float-left">
                                <p>pk_test_51HS4bSC0AqeGirZNuxBF6AtdIPej6745xYLPZSz29V9yk80qwcvBQpHYguvT5jfuI3q7NKW8yiriNEVvup3DyJ3F005gvWPASf
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 float-left"><strong>Secret key
                                </strong></div>
                            <div class="col-md-9 float-left"><button type="button" class="btn btn-light">Reveal test
                                    key</button></div>

                        </div>
                    </div>
                </div>
                <!-- <div class="acc-row no-accordion">
                    <label class="ac-label ac-text" for=""><span class="fa fa-check-circle" aria-hidden="true"></span>
                        The email ashutoshmalik.am@gmail.com is verified
                        <span class="fa fa-times right-closebtn" aria-hidden="true"></span>

                    </label>
                </div> -->
                <div class="acc-row">
                    <!-- accordion item 2 -- start -->
                    <input class="ac-input" id="ac-3" name="accordion-1" type="radio" />
                    <label class="ac-label" for="ac-3">Get your live API keys<i></i> <span
                            class="fa fa-times right-closebtn" aria-hidden="true"></span>
                    </label>
                    <div class="article ac-content">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left"><strong>Publishable key </strong></div>
                            <div class="col-md-9 float-left">
                                <p>pk_test_51HS4bSC0AqeGirZNuxBF6AtdIPej6745xYLPZSz29V9yk80qwcvBQpHYguvT5jfuI3q7NKW8yiriNEVvup3DyJ3F005gvWPASf
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 float-left"><strong>Secret key
                                </strong></div>
                            <div class="col-md-9 float-left"><button type="button" class="btn btn-light">Reveal test
                                    key</button></div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- accordion item 2 -- end -->



        </div>
    </div>
</div>