@import "../../assets/stylesheets/variable.scss";
.banner-section {
  position: relative;
  h1{
    font-size: 3.7rem;
  }
  h4{
    font-size: 2rem;
    line-height: 1.3;
  }
}
.panel-header{
  h3{
    font-size: 2rem;
  }
}
.panel-fourth{
  position: relative;
    .panel-header{
        padding-bottom: 0px;
        h5{
          font-size: 1.6rem;
        }
    }
    .panel-content-details{
     
        p{
            font-size:1.3rem;
            line-height: 1.5;
        }
    }
}
.subscribe-section{
  h3{
    font-size: 2.2rem;
    line-height: 1.4;
  }
}
.globe-wrap{
  position: absolute; 
  width:55%;
  height:100%; 
  top:0;
  right:0; 
  overflow:hidden;
}
// Responsive
@media screen and (max-width:$phone){

        .banner-section {
          padding-top: 0 !important;
          
          
            h1{
              font-size: 2rem;
            }
            h4{
              font-size: 1.6rem;
            }
        }
    .panel-first, .panel-second, .panel-third, .panel-fourth, .panel-fifth{
        margin-top:35px !important;
        margin-bottom: 35px !important;
        padding-top: 0 !important;
    }
    .panel-first, .panel-third{

        .article-box{
            .article-col{
                padding-right:0px !important;
                padding-left:0px !important;
                margin-bottom: 20px;
            }
        }
    }
    .panel-second{

        .panel-header{
            text-align: center;
        }
        .article-section{
            .ar-col{
                padding-right:0px !important;
                padding-left:0px !important;
                text-align: center;
            }
        }
    }
    .panel-fourth{
      .pl-6{
        padding-left: 0 !important;
      }

    }
    .panel-fifth {
        .subscribe-section{
            flex-direction: column;
            .col-5{
                width:100% !important;
                max-width:100%;
            }
            .col-2{
                width:100%;
                max-width:100%;
                margin-top:20px;
            }
            .primary-button{
              margin: auto;
            }
        }
    }
}

.Globe {
  background: transparent !important;
}

.Globe,
.Globe canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top:0;
}

