<div class="main-container" (scroll)="scrollHandler($event)">
    <div class="row">
        <!-- Banner section -->
        <div class="banner-section mb-9 pt-10 d-flex w-100">
            <div class="col-md-12">
                <div class="col-lg-8 float-left">
                    <h1 class="mb-5 font-weight300 font-poppinsL mt-6">Deployable sentiment intelligence</h1>
                    <h4 class="mb-2 pt-3">Rapidly evolve CX with the future of sentiment analysis.</h4>
                    <button type="button"
                        class="btn btn-light btn-md btn-block primary-button mt-5 w-200 h-56 rounded-pill"
                        routerLink="/sign-up">Sign up</button>
                </div>
                <div class="" style="position: absolute; z-index: 9999; width:50%; height:100%; right: 0; top:70px">
                    <div class="sphere-wrapper">
                        <div class="particle-sphere">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article section -->
        <div class="panel-first mb-9 pt-8">
            <div class="col-md-12 article-box">
                <div class="col-md-6 float-left pr-7 article-col">
                    <img src="../../assets/images/vga.png" width="640" height="480"
                        class="img-fluid" alt="img">
                </div>
                <div class="col-md-6 float-right pl-7 article-col">
                    <div class="panel-header">
                        <h3>Perpetual touchpoint adaptation.</h3>
                    </div>
                    <div class="panel-content-details">
                        <p>Jupita enables agile deployment of sentiment 
                            intelligence wherever you need it by employing 
                            deep neural artifical networks. Progress and 
                            transform your multi or omni channel customer 
                            touchpoints with unparalleled artificial intelligence</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article with image -->
        <div class="panel-second mb-9 mt-5 pt-6">
            <div class="col-lg-12">

                <div class="panel-header">
                    <h3 class="col-md-7 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
                </div>
                <div class="article-section">
                    <div class="col-md-4 float-left pr-6 ar-col">
                        <div class="article-img d-flex justify-content-center mb-4"><img
                                src="https://www.etacetech.com/images/testimonials/img-01.jpg" width="70" height="70"
                                class="img-fluid" alt="img"></div>
                        <div class="article-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut</p>
                        </div>
                    </div>
                    <div class="col-md-4 float-left pr-6 ar-col pl-3">
                        <div class="article-img d-flex justify-content-center mb-4"><img
                                src="https://www.etacetech.com/images/testimonials/img-01.jpg" width="70" height="70"
                                class="img-fluid" alt="img"></div>
                        <div class="article-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut</p>
                        </div>
                    </div>
                    <div class="col-md-4 float-left ar-col pl-3">
                        <div class="article-img d-flex justify-content-center mb-4"><img
                                src="https://www.etacetech.com/images/testimonials/img-01.jpg" width="70" height="70"
                                class="img-fluid" alt="img"></div>
                        <div class="article-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--third panel -->
        <div class="panel-third mb-9 mt-9">
            <div class="col-md-12 article-box">
                <div class="col-md-6 float-left pr-7 article-col">
                    <div class="panel-header mt-6">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing </h3>
                    </div>
                    <div class="panel-content-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="col-md-6 float-right pl-6 article-col">
                    <img src="../../assets/images/vga.png" width="640" height="620"
                        style="height:620px" class="img-fluid" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fourth panel -->
<div class="w-100 ww-200">
    <div class="panel-fourth mb-9 mt-8">
        <div class="main-container main-globe-content">
        <div class="col-md-4 pl-3 clearfix">
            <div class=" float-left pr-5 mb-5">
                <div class="panel-header">
                    <h5>100K+ </h5>
                </div>
                <div class="panel-content-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                </div>
            </div>
            <div class="float-left pr-5 mb-5">
                <div class="panel-header">
                    <h5>100K+ </h5>
                </div>
                <div class="panel-content-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                </div>
            </div>

            <div class="float-left pr-5 mb-5">
                <div class="panel-header">
                    <h5>100K+ </h5>
                </div>
                <div class="panel-content-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                </div>
            </div>
        </div>
    </div>
        <div class="globe-wrap">
            <div #parent></div>
            <!-- <app-globe></app-globe> -->
        </div>
    </div>
</div>
<!-- fifth panel -->
<div class="main-container">
    <div class="row">
        <div class="panel-fifth mb-6 pb-1 w-100 mt-7">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-center subscribe-section">
                    <h3 class="col-md-7 col-lg-6">Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
                    <div class="col-md-3 col-lg-3">
                        <button type="button"
                            class="btn btn-light btn-md btn-block primary-button mt-2 rounded-pill h-56 w-200"
                            routerLink="/sign-up">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>