.h-36{
    height:36px;
}
.h-56{
    height:56px;
}
.w-160{
    width:160px;
}
.w-200{
    width:200px;
}
.w-240{
    width:230px;
}
.bg-primary{
    background-color:$primary-color !important;
}
.primary-text-color{
    color:$primary-font-color;
}
.primary-border{
    border-color:$primary-color;
}
.mt-6{
    margin-top: 4rem !important;
}
.mt-7{
    margin-top: 5rem !important;
}
.mt-8{
    margin-top: 6rem !important;
}
.mt-9{
    margin-top: 7rem !important;
}
.mb-6{
    margin-bottom: 4rem !important;
}
.mb-7{
    margin-bottom: 5rem !important;
}
.mb-8{
    margin-bottom: 6rem !important;
}
.mb-9{
    margin-bottom: 7rem !important;
}
.pt-6{
    padding-top:4rem !important;
}
.pt-7{
    padding-top:5rem !important;
}
.pt-8{
    padding-top:6rem !important;
}
.pt-9{
    padding-top:7rem !important;
}
.pt-10{
    padding-top:8rem !important;
}
.pb-6{
    padding-bottom:4rem !important;
}
.pb-7{
    padding-bottom:5rem !important;
}
.pl-6{
    padding-left:4rem !important;
}
.pl-7{
    padding-left:5rem !important;
}
.pr-6{
    padding-right:4rem !important;
}
.pr-7{
    padding-right:5rem !important;
}

.font-size-18{
    font-size: 18px;
}
.font-size-22{
    font-size: 22px;
}
.pos-rel{
    position: relative !important;
}
.font-poppinsL{
    font-family: $font-family-poppins;
}
.font-weight300{
    font-weight: $font-light;
}