$montserrat-regularttf-font-path: "assets/fonts/Montserrat-Regular.ttf";
$montserrat-semiboldttf-font-path: "assets/fonts/Montserrat-SemiBold.ttf";
$montserrat-light-ttf-font-path: "assets/fonts/Montserrat-Light.ttf";
$poppins-light-ttf-font-path: "assets/fonts/Poppins-Light.ttf";
$font-family-brand: 'Montserrat-Regular';
$font-family-semibold: 'Montserrat-SemiBold';
$font-family-light: 'Montserrat-Light';
$font-family-poppins:'Poppins-Light';

$primary-color:#C6C6C6;
$link-text-primary:#C6C6C6;
$primary-font-color:#181818;


//  $font-regular:'Montserrat-Regular';
$font-semibold: 600;
$font-light:300;
// Responsive screen declaration
$phone: 767px;
$tablet-min:768px;
$tablet-max:1024px;

$total: 350; // total particles
$orb-size: 100px;
$particle-size: 2px;
$time: 30s;
$base-hue: 0; // change for diff colors (180 is nice)
